# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
# yarn.lock
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# flutter 
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages


# javascript ---------------------------------------------
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

cli.js

# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

/miniprogram_npm

# production
/dist
**.vscode
**.eslintcache

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase

# eslint
.eslintcache
.stylelintcache
*cache*/